@import "./reset.css";

:root {
    /* TYPE */
    --step--2: clamp(0.74rem, 0.7rem + 0.21vw, 0.84rem);
    --step--1: clamp(0.98rem, 0.93rem + 0.27vw, 1.13rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
    --step-1: clamp(1.75rem, 1.65rem + 0.49vw, 2rem);
    --step-2: clamp(2.33rem, 2.2rem + 0.65vw, 2.67rem);
    --step-3: clamp(3.11rem, 2.94rem + 0.87vw, 3.55rem);
    --step-4: clamp(4.14rem, 3.91rem + 1.16vw, 4.74rem);
    --step-5: clamp(5.52rem, 5.22rem + 1.54vw, 6.31rem);

    /* COLOR */
    --prussian-00: #8fd0ff;
    --prussian-01: #67aee0;
    --prussian-02: #3f96d4;
    --prussian-03: #2b82c0;
    --prussian-04: #1c6396;
    --prussian-05: #115688;
    --prussian-06: #0a4975;
    --prussian-07: #073c63;
    --prussian-08: #003153;
    --prussian-09: #001d31;

    --tart-orange: #fb4d3d;
    --yellow-red: #ffba49;

    --light: #eefbfb;
    --light-mid: var(--prussian-02);
    --mid-sub: var(--prussian-03);
    --mid: var(--prussian-08);
    --dark: var(--prussian-09);

    /* DOC */
    --foreground: var(--dark);
    --background: var(--light);
    --background-offset: var(--prussian-01);
    --link: var(--prussian-08);
    --hover: var(--prussian-05);
    --accent: var(--tart-orange);
    --accent-secondary: var(--yellow-red);
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--step--1);
    color: var(--foreground);
    background-color: var(--background);
}

#app {
    min-width: 100%;
    height: 100vh;
    border-top: 5px solid var(--accent);
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: var(--step-2);
}

h2 {
    font-size: var(--step-1);
}

h3 {
    font-size: var(--step-0);
}

h4 {
    font-size: var(--strp--1);
}

a {
    cursor: pointer;
}

a:not(class) {
    color: var(--link);
}

a:not(class):hover {
    color: var(--hover);
}

#site-brand * {
    font-size: var(--step-3);
    font-weight: 900;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: var(--light);
        --background: var(--dark);
        --background-offset: var(--prussian-07);
        --link: var(--prussian-00);
        --hover: var(--prussian-01);
        --accent: var(--yellow-red);
        --accent-secondary: var(--tart-orange);
    }
}
